/* === GLOBAL === */

section {
    background-color: #FAFAFA;
    padding: 20px;
}

.tagged {
    background-color: #E3ECFF;
    padding: 2px 8px;
    border-radius: 8px;
    font-size: 14px;
}

// Description
section.description {
    line-height: 2;
}

// Comments
section.comments {
    ul {
        line-height: 2;
        li {
            margin-bottom: 20px;
        }
    }
}